VITE_KEYCLOAK_AUTH_ENDPOINT=https://keycloak.localhost:8443/realms/auth-sandbox/protocol/openid-connect/auth
VITE_CLIENT_ID=target-app-client
VITE_REDIRECT_URI=https://target-app.localhost:8443/callback
VITE_SCOPE=openid profile
